
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #dfe6e4;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #294080;
  --destaque-inverso: #5fb1f5;
  --fundo-card: #ffffff;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px; 
  grid-column: 2;

    img.foto{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      object-fit: cover;
      overflow: hidden;
      border: 5px solid var(--fundo-principal);
      display: block;
      margin: auto;
      margin-bottom: 15px;
    }

    h1{
      color: var(--destaque);
      margin: 15px 0;
      font-size: 1.8em;
      text-align: center; 
    }

    div#social{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      gap: 1em;
      margin-top: 15px;

      a{
        color: var(--destaque);
        transition: color 0.3s;
      }

      a:hover{
        color: var(--destaque-inverso);
      }
    }
}

section#detalhes{
  grid-column: 2;

  article{
    background-color: var(--fundo-card);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;

    h2{
      color: var(--destaque);
      margin-bottom: 10px;
    }
  }

  #skill-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    background-color: var(--fundo-principal) ;
    padding: 25px;
    border-radius: 10px;

    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nome{
      font-weight: bold;
      color: var(--texto);
    }

    .porcent{
      font-weight: bold;
      color: var(--destaque);
    }

    .barra{
      width: 100%;
      height: 9px;
      background-color: var(--fundo-principal);
      border-radius: 4px;
    }

    .progresso{
      height: 100%;
      background-color: var(--destaque-inverso);
      border-radius: 4px;
    }
    
  }
}

@media (min-width: 768px) {
  main {
    grid-template-columns: auto 80vw auto;
  }

}

.imgs{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;

        img {
          border-radius: 50%;
            width: 100px;
            height: 100px;
    }
}
